html {
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "ff-basic-gothic-web-pro", avenir;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	font-family: filson-pro;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 10px;
}


p {
	font-weight: lighter;
	font-size: 10px;
	width: 320px;
	text-align: left;
	padding: 5px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 900;
}


#clue {
	margin-top: 10vh;
}

#text {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: black;
	color: white;
}

#internet {
	font-size: 46px;
	color: white;
	background-color: black;
	padding: 10px;
	letter-spacing: 20px;
	margin-top: 4px;
}

#mc_embed_signup {
	margin: auto;
	padding: 20px;
}

ol {
	width: 550px;
	margin: auto;
	text-align: left;
	font-size: 21px;
	padding-bottom: 20px;
	padding-left: 50px;
	font-weight: 500;
	margin-top: 10px;
	line-height: 22px;
}


input {
    border-radius: 0;
}

#mc-embedded-subscribe {
	width: 240px;
	padding: 12px 18px 12px 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: auto;
	display: block;
	font-size: 23px;
	background: black;
	margin-top: 30px;
	color: white;
	border: none;
}


#mc-embedded-subscribe:hover {
	background: linear-gradient(to bottom right, #7318ff, purple);
	transition: .3s;
}

#mc_embed_signup {
	padding: 20px;
}

.mc-field-group {
	color: black;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 500px;
	margin: auto;
}

.email {
	height: 30px;
	width: 500px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 3px;
	border: 2px solid black;
}

.email:focus {
	box-shadow: none;
	outline: none;


}

#mce_inline_error {
	color: red;
	background-color: none;
	width: 80%;
}

#mce-success-response {
	color: #00d26b;
	background-color: none;
	margin: auto;
}

.response {
	width: 500px;
	padding-top: 4px;
	margin: auto;
	font-size: 14px;
}



@media (max-width: 600px) {

	body{
		width: 100%;
	}

	ol {
		width: 90%;
		text-align: left;
		font-size: 18px;
		padding-left: 7%;
	}

	h1 {
		font-size: 25px;
	}

	#internet {
		font-size: 33px;
	}

	#mc-embedded-subscribe {
		font-size: 25px;
		padding: 15px 22px 15px 22px;
	}

	#text {
		margin-top: 12%;
		width: 100%;
	}

	.email {
		width: 94%;
	}

	.mc-field-group {
		width: inherit;
	}

	p {
		padding-left: 30px;
		margin-left: 0;
	}

}

@media (max-width: 380px) {

	#clue {
		margin-top: 6vh;
	}

	#mc-embedded-subscribe {
		font-size: 16px;
		padding: 10px 16px 10px 16px;
		margin-top: 14px;
		width: auto;
	}

	#mc_embed_signup {
		padding-top: 10px;
	}

	.mc-field-group {
		font-size: 12px;
	}

	p {
		width: 75%;
	}

	ol {
		font-size: 16px;
	}

	h1 {
		font-size: 20px;
	}

	#internet {
		font-size: 25px;
		padding-left: 10px;
		margin-right: -20px;
	}

	.email {
		width: 270px;
	}


	.response {
		width: 270px;
	}

	#text {
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 9%;
	}
}

@media (max-height: 660px) {

html {
	overflow-x: scroll;
	overflow-y: scroll;
}

body {
	overflow-x: scroll;
	overflow-y: scroll;
		height: 100%;
}

}

