html {
	font-family: filson-pro;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 10px;
}


p {
	font-weight: normal;
	font-size: 16px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
	font-weight: 900;

}

#text {
/*	margin-bottom: 10%;
	margin-top: 10%;*/
	margin-top: 60px;
}

#internet {
	font-size: 46px;
	color: white;
	background-color: black;
	padding: 10px;
	letter-spacing: 20px;
}

#mc_embed_signup {
	margin: auto;
	padding: 20px;
}

ol {
	width: 600px;
	margin: auto;
	text-align: left;
	font-size: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	font-weight: 600;
}


input {
    border-radius: 0;
}

#mc-embedded-subscribe {
	width: 280px;
	padding: 20px 30px 20px 30px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: auto;
	display: block;
	font-size: 30px;
	border: solid 6px white;
	transition: .3s;
	background-color: black;
	margin-top: 40px;
	color: white;
}


#mc-embedded-subscribe:hover {
	background-color: white;
	color: black;
}

#mc_embed_signup {
	padding: 20px;
	background-color: black;
}

.mc-field-group {
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 500px;
	margin: auto;
}

.email {
	height: 30px;
	width: 500px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 3px;

}

#bottom {
	bottom: 0;
	position: absolute;
	width: 100%;
}

#mce_inline_error {
	color: red;
	background-color: none;
	width: 80%;
}

#mce-success-response {
	color: green;
	background-color: none;
}

.response {
	width: 88%;
}



@media (max-width: 600px) {

	body{
		width: 100%;
	}

	ol {
		width: 90%;
		margin: auto;
		text-align: left;
		font-size: 16px;
		padding-left: 7%;
		font-weight: 600;
	}

	p {
		font-weight: normal;
		font-size: 16px;
		width: 90%;
		padding-left: 6%;
		padding-right: 6%;
		margin: 0;
	}

	h1 {
		font-size: 25px;
	}

	#internet {
		font-size: 33px;
	}

	#mc-embedded-subscribe {
		font-size: 25px;
		padding: 15px 22px 15px 22px;
		border: solid 3px white;

	}

	#text {
		margin-top: 12%;
	}

	.email {
		width: 94%;
	}

}

@media (max-width: 380px) {

	#mc-embedded-subscribe {
		font-size: 20px;
		padding: 10px 16px 10px 16px;
		margin-top: 14px;
		width: auto;
	}

	p {
		font-size: 14px;
		width: 75%;
		margin: auto;
		margin-bottom: 3%;
	}

	ol {
		line-height: 18px;
	}

	h1 {
		font-size: 20px;
	}

	#internet {
		font-size: 25px;
		padding-left: 10px;
		margin-right: -20px;
	}

	.email {
		width: 270px;
	}

	}

@media (max-height: 380px) {

html {
	overflow-x: scroll;
	overflow-y: scroll;
}

body {
	overflow-x: scroll;
	overflow-y: scroll;
		height: 600px;
}

#bottom {
	bottom: 0;
	position: relative;
	width: 100%;
}

}

